* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

#slideshow {
  width: 100%;
  height: 100%;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.splide__slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
